PORT=3000
NODE_ENV=development

#SUPABASE DB CONNECTION
SUPABASE_URL=your_supabase_url_here
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
SUPABSE_PUBLISHABLE_KEY=your_supabase_publishable_key_here

#FRONTEND PORT
VITE_PORT=5173